<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestión de Parqueadero</title>
    <link rel="stylesheet" type="text/css" href="">
</head>
<body>

<form id="entryForm">
    <label for="licensePlate">Placa del vehículo:</label>
    <input type="text" id="licensePlate" name="licensePlate" maxlength="6">
    <label for="entryHour">Hora de entrada:</label>
    <input type="number" id="entryHour" name="entryHour">
    <label for="location">Ubicación:</label>
    <input type="text" id="location" name="location">
    <label for="vehicleType">Tipo de vehículo:</label>
    <select id="vehicleType" name="vehicleType">
        <option value="car">Carro</option>
        <option value="motorcycle">Motocicleta</option>
        <option value="bicycle">Bicicleta</option>
    </select>
    <button type="submit">Registrar Entrada</button>
</form>


<table id="entriesTable">
    <tbody>
    <tr>
        <th>Placa del vehículo</th>
        <th>Hora de entrada</th>
        <th>Hora de salida</th>
        <th>Ubicacion</th>
        <th>Tipo de Vehiculo</th>
    </tr>
    </tbody>
</table>

</body>
</html>